<div class="container-fluid" style="padding-top:48px">
    <h1>League Rules</h1>
    <ol>
        <li>Period Length
            <ol style="list-style: lower-alpha">
                <li>3:00 warm-up</li>
                <li>23:00 first half run time</li>
                <li>:30 Intermission</li>
                <li>22:00 second half run time (last three minutes are stop time if game is within three goals</li>
            </ol>
        </li>
        <li>
            Gameplay:
            <ol style="list-style: lower-alpha">
                <li>Four on four</li>
                <li>No offsides</li>
                <li>No two line passes</li>
                <li>No icing</li>
                <li>If a game is tied at the end of a regular season game, the game ends in a tie.</li>
                <li>A win is worth two points</li>
                <li>A tie is worth 1 point</li>
                <li>A loss is worth no points</li>
            </ol>
        </li>

        <li>
            Penalties
            <ol style="list-style: lower-alpha">
                <li>All penalties are 3:00 run time</li>
                <li>Major penalties are an automatic ejection</li>
                <li>Fights are an automatic ejection and suspension (league discretion)</li>
            </ol>
        </li>

        <li>
            Team Standings (Season)
            <ol style="list-style: lower-alpha">
                <li>Team standings are kept throughout all 11 regular season games</li>
                <li>A tie in the standings (points) are determined in order by the following:
                    <ol style="list-style: lower-roman">
                        <li>Most wins</li>
                        <li>Head to head record</li>
                        <li>GF/GA Differential</li>
                        <li>Lower team penalty minutes</li>
                        <li>Coin flip</li>
                    </ol>
                </li>
            </ol>
        </li>

        <li>
            Player Stats
            <ol style="list-style: lower-alpha">
                <li>Stats are kept from the third week until the final game of the season (13 games in total)</li>
            </ol>
        </li>

        <li>
            Playoffs
            <ol style="list-style: lower-alpha">
                <li>Playoffs are a three game round robin format. The best regular season team record plays the weakest regular
                    season team record, the second best regular season record team plays the second weakest regular season
                    record team, etc.</li>
                <li>The top two seeds in the playoff round robin will play for the A championship. The third and fourth seeds
                    in the playoff round robin will play for the B championship, etc.</li>
                <li>A tie in the playoff round robin points is determined by the following in order:
                    <ol style="list-style: lower-roman">
                        <li>Most playoff round robin wins</li>
                        <li>Playoff head to head record</li>
                        <li>Playoff GF/GA differential</li>
                        <li>Playoff lower team penalty minutes</li>
                        <li>Coin flip</li>
                    </ol>
                </li>
                <li>If a playoff round robin game is tied at the end of regulation, the game ends in a tie</li>
                <li>If a playoff championship game is tied at the end of regulation, there will be a 5:00 run-time sudden death
                    period. If there is still a tie after the 5:00 sudden death period, there will be a shootout. The shootout
                    will consist of three shooters for each team. If the score is tied after each team’s three shooters have
                    shot, the shootout will become a sudden death shootout. Each player on the team must shoot before a player
                    can shoot a second time.
                </li>
            </ol>
        </li>

        <li>
            Miscellaneous rules
            <ol style="list-style: lower-alpha">
                <li>Face-offs are dropped in each end or at centre (a five dot system)</li>
                <li>Games with over a six goal differential will be capped at a six goal differential. As an example, a 12-1
                    game will be logged as a 7-1 final. However, all points scored on the 12 goals will count towards individual
                    player stats.
                </li>
            </ol>
        </li>
    </ol>

    <h1>FAQs</h1>

    <div class="card">
        <div class="card-header">
            How old do I have to be to play?
        </div>
        <div class="card-block">
            <blockquote class="card-blockquote">
                <p>
                    The two divisions we currently have will accommodate anyone 14 years of age and older.
                </p>
            </blockquote>
        </div>
    </div>
    <div class="card">
        <div class="card-header">What skill level are the leagues?</div>
        <div class="card-block">
            <blockquote class="card-blockquote">
                <p>Our Senior division is our 18+ division that contains players that played house league through rep ice hockey
                    growing up. It is considered a faster pace out of the two divisions.</p>
                <p>Our Masters Double-X division is competitive but a slower pace than our Senior division. The Masters Double-X
                    division contains players from the age of 14 to over 50, both men and women. If you are new to hockey
                    or roller hockey, this would be a great division to try. This division is also a great division for fathers
                    to play with their sons and/or daughters.</p>
            </blockquote>
        </div>
    </div>
    <div class="card">
        <div class="card-header">What equipment is required?</div>
        <div class="card-block">
            <blockquote class="card-blockquote">
                <p>The only difference from ice hockey is the roller blades. Some of the more experienced players have switched
                    over to a girdle and roller hockey pant in place of the standard hockey pant.</p>
            </blockquote>
        </div>
    </div>
    <div class="card">
        <div class="card-header">Can I sign-up as an individual?</div>
        <div class="card-block">
            <blockquote class="card-blockquote">
                <p>Absolutely. East End Saints prides itself on competitive balance. Players are moved every season to ensure
                    league parody.</p>
            </blockquote>
        </div>
    </div>
    <div class="card">
        <div class="card-header">Can I request to play with my friends?</div>
        <div class="card-block">
            <blockquote class="card-blockquote">
                <p>Yes. However, depending on the caliber of the players, no guarantees can be made that they will remain on
                    the same team throughout the whole season. Competitive balance supersedes player requests.</p>
            </blockquote>
        </div>
    </div>
    <div class="card">
        <div class="card-header">Can I enter a full team?</div>
        <div class="card-block">
            <blockquote class="card-blockquote">
                <p>Yes. However, if the caliber of the team is not in line with the other teams in the division, players will
                    need to be added or removed to ensure each team is competitive. There is no guarantee that a full team
                    that is entered will remain together for the whole season.</p>
            </blockquote>
        </div>
    </div>
    <div class="card">
        <div class="card-header">Do goalies have to wear roller blades?</div>
        <div class="card-block">
            <blockquote class="card-blockquote">
                <p>No. Goalies can either wear roller blades or shoes.</p>
            </blockquote>
        </div>
    </div>
</div>