<div class="container-fluid">
    <h1>Schedules</h1>
    <div style="margin:10px 0">
        <button class="btn btn-sm btn-primary" (click)="setDivision('Senior')">Senior</button>
        <button class="btn btn-sm btn-primary" (click)="setDivision('Double-X')">Double-X</button>
    </div>

    <table *ngIf="division === 'Double-X'" class="table table-sm">
        <thead>
            <tr>
                <th colspan="5">Double-X</th>
            </tr>
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Pad</th>
                <th>Team 1</th>
                <th>Team 2</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>April-25</td>
                <td>7:00</td>
                <td>1</td>
                <td>The Black Bear</td>
                <td>Pylons</td>
            </tr>
            <tr>
                <td>April-25</td>
                <td>7:50</td>
                <td>1</td>
                <td>Right at Home/James Carr</td>
                <td>Guaranteed Insulation</td>
            </tr>
            <tr>
                <td>April-25</td>
                <td>8:45</td>
                <td>2</td>
                <td>Shaw-Street Group Ltd.</td>
                <td>Tyler Marden Contracting</td>
            </tr>
            <tr>
                <td colspan="5">&nbsp;</td>
            </tr>
            <tr>
                <td>April-30</td>
                <td>7:40</td>
                <td>1</td>
                <td>Pylons</td>
                <td>Shaw-Street Group Ltd.</td>
            </tr>
            <tr>
                <td>April-30</td>
                <td>8:30</td>
                <td>1</td>
                <td>Right at Home/James Carr</td>
                <td>Tyler Marden Contracting</td>
            </tr>
            <tr>
                <td colspan="5">&nbsp;</td>
            </tr>
            <tr>
                <td>May-02</td>
                <td>7:00</td>
                <td>1</td>
                <td>Right at Home/James Carr</td>
                <td>Pylons</td>
            </tr>
            <tr>
                <td>May-02</td>
                <td>7:50</td>
                <td>1</td>
                <td>The Black Bear</td>
                <td>Guaranteed Insulation</td>
            </tr>
            <tr>
                <td colspan="5">&nbsp;</td>
            </tr>
            <tr>
                <td>May-07</td>
                <td>6:40</td>
                <td>1</td>
                <td>The Black Bear</td>
                <td>Guaranteed Insulation</td>
            </tr>
            <tr>
                <td>May-07</td>
                <td>7:30</td>
                <td>2</td>
                <td>Shaw-Street Group Ltd.</td>
                <td>Tyler Marden Contracting</td>
            </tr>
            <tr>
                <td colspan="5">&nbsp;</td>
            </tr>
            <tr>
                <td>May-09</td>
                <td>7:00</td>
                <td>1</td>
                <td>Right at Home/James Carr</td>
                <td>Shaw-Street Group Ltd.</td>
            </tr>
            <tr>
                <td>May-09</td>
                <td>7:50</td>
                <td>1</td>
                <td>Pylons</td>
                <td>Guaranteed Insulation</td>
            </tr>
            <tr>
                <td>May-09</td>
                <td>8:45</td>
                <td>2</td>
                <td>The Black Bear</td>
                <td>Tyler Marden Contracting</td>
            </tr>
            <tr>
                <td colspan="5">&nbsp;</td>
            </tr>
            <tr>
                <td>May-16</td>
                <td>7:00</td>
                <td>1</td>
                <td>The Black Bear</td>
                <td>Shaw-Street Group Ltd.</td>
            </tr>
            <tr>
                <td>May-16</td>
                <td>7:50</td>
                <td>1</td>
                <td>Pylons</td>
                <td>Tyler Marden Contracting</td>
            </tr>
            <tr>
                <td>May-16</td>
                <td>8:45</td>
                <td>2</td>
                <td>Right at Home/James Carr</td>
                <td>Guaranteed Insulation</td>
            </tr>
            <tr>
                <td colspan="5">&nbsp;</td>
            </tr>
            <tr>
                <td>May-23</td>
                <td>7:00</td>
                <td>1</td>
                <td>Pylons</td>
                <td>Shaw-Street Group Ltd.</td>
            </tr>
            <tr>
                <td>May-23</td>
                <td>7:50</td>
                <td>1</td>
                <td>Guaranteed Insulation</td>
                <td>Tyler Marden Contracting</td>
            </tr>
            <tr>
                <td>May-23</td>
                <td>8:45</td>
                <td>2</td>
                <td>The Black Bear</td>
                <td>Right at Home/James Carr</td>
            </tr>
            <tr>
                <td colspan="5">&nbsp;</td>
            </tr>
            <tr>
                <td>May-30</td>
                <td>7:00</td>
                <td>1</td>
                <td>The Black Bear</td>
                <td>Pylons</td>
            </tr>
            <tr>
                <td>May-30</td>
                <td>7:50</td>
                <td>1</td>
                <td>Right at Home/James Carr</td>
                <td>Tyler Marden Contracting</td>
            </tr>
            <tr>
                <td>May-30</td>
                <td>8:45</td>
                <td>2</td>
                <td>Shaw-Street Group Ltd.</td>
                <td>Guaranteed Insulation</td>
            </tr>
            <tr>
                <td colspan="5">&nbsp;</td>
            </tr>
            <tr>
                <td>June-06</td>
                <td>7:00</td>
                <td>1</td>
                <td>The Black Bear</td>
                <td>Right at Home/James Carr</td>
            </tr>
            <tr>
                <td>June-06</td>
                <td>7:50</td>
                <td>1</td>
                <td>Pylons</td>
                <td>Guaranteed Insulation</td>
            </tr>
            <tr>
                <td>June-06</td>
                <td>8:45</td>
                <td>2</td>
                <td>Shaw-Street Group Ltd.</td>
                <td>Tyler Marden Contracting</td>
            </tr>
            <tr>
                <td colspan="5">&nbsp;</td>
            </tr>
            <tr>
                <td>June-13</td>
                <td>7:00</td>
                <td>1</td>
                <td>Right at Home/James Carr</td>
                <td>Pylons</td>
            </tr>
            <tr>
                <td>June-13</td>
                <td>7:50</td>
                <td>1</td>
                <td>Tyler Marden Contracting</td>
                <td>Guaranteed Insulation</td>
            </tr>
            <tr>
                <td>June-13</td>
                <td>8:45</td>
                <td>2</td>
                <td>The Black Bear</td>
                <td>Shaw-Street Group Ltd.</td>
            </tr>
            <tr>
                <td colspan="5">&nbsp;</td>
            </tr>
            <tr>
                <td>June-20</td>
                <td>7:00</td>
                <td>1</td>
                <td>Shaw-Street Group Ltd.</td>
                <td>Right at Home/James Carr</td>
            </tr>
            <tr>
                <td>June-20</td>
                <td>7:50</td>
                <td>1</td>
                <td>The Black Bear</td>
                <td>Guaranteed Insulation</td>
            </tr>
            <tr>
                <td>June-20</td>
                <td>8:45</td>
                <td>2</td>
                <td>Pylons</td>
                <td>Tyler Marden Contracting</td>
            </tr>
            <tr>
                <td colspan="5">&nbsp;</td>
            </tr>
            <tr>
                <td>June-27</td>
                <td>7:00</td>
                <td>1</td>
                <td>Pylons</td>
                <td>Shaw-Street Group Ltd.</td>
            </tr>
            <tr>
                <td>June-27</td>
                <td>7:50</td>
                <td>1</td>
                <td>The Black Bear</td>
                <td>Tyler Marden Contracting</td>
            </tr>
            <tr>
                <td>June-27</td>
                <td>8:45</td>
                <td>2</td>
                <td>Right at Home/James Carr</td>
                <td>Guaranteed Insulation</td>
            </tr>
            <tr>
                <td colspan="5">&nbsp;</td>
            </tr>
            <tr>
                <td>July-04</td>
                <td>7:00</td>
                <td>1</td>
                <td>Tyler Marden Contracting</td>
                <td>Right at Home/James Carr</td>
            </tr>
            <tr>
                <td>July-04</td>
                <td>7:50</td>
                <td>1</td>
                <td>The Pylons</td>
                <td>The Black Bear</td>
            </tr>
            <tr>
                <td>July-04</td>
                <td>8:45</td>
                <td>2</td>
                <td>Guaranteed Insulation</td>
                <td>Shaw-Street Group</td>
            </tr>
            <tr>
                <td colspan="5">&nbsp;</td>
            </tr>
            <tr>
                <td>July-11</td>
                <td>7:00</td>
                <td>1</td>
                <td>Tyler Marden Contracting</td>
                <td>Shaw-Street Group</td>
            </tr>
            <tr>
                <td>July-11</td>
                <td>7:50</td>
                <td>1</td>
                <td>Guaranteed Insulation</td>
                <td>The Black Bear</td>
            </tr>
            <tr>
                <td>July-11</td>
                <td>8:45</td>
                <td>2</td>
                <td>The Pylons</td>
                <td>Right at Home/James Carr</td>
            </tr>
            <tr>
                <td colspan="5">&nbsp;</td>
            </tr>
            <tr>
                <td>July-18</td>
                <td>7:00</td>
                <td>1</td>
                <td>The Pylons</td>
                <td>Shaw-Street Group</td>
            </tr>
            <tr>
                <td>July-18</td>
                <td>7:50</td>
                <td>1</td>
                <td>Guaranteed Insulation</td>
                <td>Right at Home/James Carr</td>
            </tr>
            <tr>
                <td>July-18</td>
                <td>8:45</td>
                <td>2</td>
                <td>Tyler Marden Contracting</td>
                <td>The Black Bear</td>
            </tr>
            <tr>
                <td colspan="5">&nbsp;</td>
            </tr>
            <tr>
                <td>July-25</td>
                <td>7:00</td>
                <td>1</td>
                <td>Right at Home/James Carr</td>
                <td>The Pylons</td>
            </tr>
            <tr>
                <td>July-25</td>
                <td>8:00</td>
                <td>1</td>
                <td>Shaw-Street Group Ltd.</td>
                <td>The Black Bear</td>
            </tr>
            <tr>
                <td>July-25</td>
                <td>9:00</td>
                <td>1</td>
                <td>Guaranteed Insulation</td>
                <td>Tyler Marden Contracting</td>
            </tr>
        </tbody>
    </table>

    <table *ngIf="division === 'Senior'" class="table table-sm">
        <thead>
            <tr>
                <th colspan="4">Senior</th>
            </tr>
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Team 1</th>
                <th>Team 2</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>24-Apr-17</td>
                <td>7:00</td>
                <td>Roof Chek</td>
                <td>Chris' Handyman Services</td>
            </tr>
            <tr>
                <td>24-Apr-17</td>
                <td>7:50</td>
                <td>The Black Bear</td>
                <td> Lisa Debosky Chevrolet Cadillac</td>
            </tr>
            <tr>
                <td colspan="5">&nbsp;</td>
            </tr>
            <tr>
                <td>30-Apr-17</td>
                <td>6:00</td>
                <td>The Black Bear</td>
                <td> Roof Chek</td>
            </tr>
            <tr>
                <td>30-Apr-17</td>
                <td>6:50</td>
                <td>Chris' Handyman Services </td>
                <td>Lisa Debosky Chevrolet Cadillac</td>
            </tr>
            <tr>
                <td colspan="5">&nbsp;</td>
            </tr>
            <tr>
                <td>01-May-17</td>
                <td>7:00</td>
                <td>The Black Bear </td>
                <td>Chris' Handyman Services</td>
            </tr>
            <tr>
                <td>01-May-17</td>
                <td>7:50</td>
                <td>Roof Chek </td>
                <td>Lisa Debosky Chevrolet Cadillac</td>
            </tr>
            <tr>
                <td colspan="5">&nbsp;</td>
            </tr>
            <tr>
                <td>07-May-17</td>
                <td>5:00</td>
                <td>The Black Bear </td>
                <td>Roof Chek</td>
            </tr>
            <tr>
                <td>07-May-17</td>
                <td>5:50</td>
                <td>Chris' Handyman Services </td>
                <td>Lisa Debosky Chevrolet Cadillac</td>
            </tr>
            <tr>
                <td colspan="5">&nbsp;</td>
            </tr>
            <tr>
                <td>08-May-17</td>
                <td>7:00</td>
                <td>Roof Chek </td>
                <td>Chris' Handyman Services</td>
            </tr>
            <tr>
                <td>08-May-17</td>
                <td>7:50</td>
                <td>The Black Bear </td>
                <td>Lisa Debosky Chevrolet Cadillac</td>
            </tr>
            <tr>
                <td colspan="5">&nbsp;</td>
            </tr>
            <tr>
                <td>15-May-17</td>
                <td>7:00</td>
                <td>The Black Bear </td>
                <td>Chris' Handyman Services</td>
            </tr>
            <tr>
                <td>15-May-17</td>
                <td>7:50</td>
                <td>Roof Chek </td>
                <td>Lisa Debosky Chevrolet Cadillac</td>
            </tr>
            <tr>
                <td colspan="5">&nbsp;</td>
            </tr>
            <tr>
                <td>29-May-17</td>
                <td>7:00</td>
                <td>Roof Chek </td>
                <td>Chris' Handyman Services</td>
            </tr>
            <tr>
                <td>29-May-17</td>
                <td>7:50</td>
                <td>The Black Bear </td>
                <td>Lisa Debosky Chevrolet Cadillac</td>
            </tr>
            <tr>
                <td colspan="5">&nbsp;</td>
            </tr>
            <tr>
                <td>05-Jun-17</td>
                <td>7:00</td>
                <td>The Black Bear </td>
                <td>Roof Chek</td>
            </tr>
            <tr>
                <td>05-Jun-17</td>
                <td>7:50</td>
                <td>Chris' Handyman Services </td>
                <td>Lisa Debosky Chevrolet Cadillac</td>
            </tr>
            <tr>
                <td colspan="5">&nbsp;</td>
            </tr>
            <tr>
                <td>12-Jun-17</td>
                <td>7:00</td>
                <td>The Black Bear </td>
                <td>Chris' Handyman Services</td>
            </tr>
            <tr>
                <td>12-Jun-17</td>
                <td>7:50</td>
                <td>Roof Chek </td>
                <td>Lisa Debosky Chevrolet Cadillac</td>
            </tr>
            <tr>
                <td colspan="5">&nbsp;</td>
            </tr>
            <tr>
                <td>19-Jun-17</td>
                <td>7:00</td>
                <td>Roof Chek </td>
                <td>Chris' Handyman Services</td>
            </tr>
            <tr>
                <td>19-Jun-17</td>
                <td>7:50</td>
                <td>The Black Bear </td>
                <td>Lisa Debosky Chevrolet Cadillac</td>
            </tr>
            <tr>
                <td colspan="5">&nbsp;</td>
            </tr>
            <tr>
                <td>26-Jun-17</td>
                <td>7:00</td>
                <td>The Black Bear </td>
                <td>Roof Chek</td>
            </tr>
            <tr>
                <td>26-Jun-17</td>
                <td>7:50</td>
                <td>Chris' Handyman Services </td>
                <td>Lisa Debosky Chevrolet Cadillac</td>
            </tr>
            <tr>
                <td colspan="5"><strong>Playoffs</strong></td>
            </tr>
            <tr>
                <td>10-Jul-17</td>
                <td>7:00</td>
                <td>The Black Bear </td>
                <td>Roof Chek</td>
            </tr>
            <tr>
                <td>10-Jul-17</td>
                <td>7:50</td>
                <td>Chris' Handyman Services</td>
                <td>Lisa Debosky Chevrolet Cadillac</td>
            </tr>
            <tr>
                <td colspan="5">&nbsp;</td>
            </tr>
            <tr>
                <td>17-Jul-17</td>
                <td>7:00</td>
                <td>Roof Chek</td>
                <td>Chris' Handyman Services</td>
            </tr>
            <tr>
                <td>17-Jul-17</td>
                <td>7:50</td>
                <td>The Black Bear</td>
                <td>Lisa Debosky Chevrolet Cadillac</td>
            </tr>
            <tr>
                <td colspan="5">&nbsp;</td>
            </tr>
            <tr>
                <td>24-Jul-17</td>
                <td>7:00</td>
                <td>The Black Bear</td>
                <td>Chris' Handyman Services</td>
            </tr>
            <tr>
                <td>24-Jul-17</td>
                <td>7:50</td>
                <td>Roof Chek</td>
                <td>Lisa Debosky Chevrolet Cadillac</td>
            </tr>
            <tr>
                <td colspan="5">&nbsp;</td>
            </tr>
            <tr>
                <td>31-Jul-17</td>
                <td>7:00</td>
                <td>Roof Chek</td>
                <td>The Black Bear</td>
            </tr>
            <tr>
                <td>31-Jul-17</td>
                <td>8:00</td>
                <td>Chris' Handyman Services</td>
                <td>Lisa Debosky Chevrolet Cadillac</td>
            </tr>
        </tbody>
    </table>
</div>