<h2>Team Management</h2>
<hr />
<div class="row">
  <div class="col-sm-6" style="margin-bottom:20px;">
    <h3>Add Team</h3>
    <form class="form" [formGroup]="form" (ngSubmit)="submitForm()">
      <div class="form-group">
        <label class="control-label" for="name">Team Name</label>
        <input class="form-control" type="text" formControlName="name">
      </div>
      <div class="form-group">
        <label class="control-label" for="season">Season</label>
        <select class="form-control" formControlName="season_id">
            <option selected disabled value="">Select a Season...</option>
            <option *ngFor="let season of seasons" [value]="season.id">{{ season.name }}</option>
        </select>
      </div>
      <div class="form-group">
        <label class="control-label" for="start">Color</label>
        <input type="color" name="color" formControlName="color">
      </div>
      <button class="btn btn-primary" [disabled]="!form.valid" type="Submit">Add Team</button>
    </form>
  </div>

  <div class="col-sm-6" style="margin-bottom:20px;">
    <ees-admin-teams-list [teams]="teams"></ees-admin-teams-list>
  </div>
</div>