<div class="container-fluid">
    <h1>FAQs</h1>

    <div class="card">
        <div class="card-header">
            How old do I have to be to play?
        </div>
        <div class="card-block">
            <blockquote class="card-blockquote">
                <p>
                    The two divisions we currently have will accommodate anyone 14 years of age and older.
                </p>
            </blockquote>
        </div>
    </div>
    <div class="card">
        <div class="card-header">What skill level are the leagues?</div>
        <div class="card-block">
            <blockquote class="card-blockquote">
                <p>Our Senior division is our 18+ division that contains players that played house league through rep ice hockey
                    growing up. It is considered a faster pace out of the two divisions.</p>
                <p>Our Masters Double-X division is competitive but a slower pace than our Senior division. The Masters Double-X
                    division contains players from the age of 14 to over 50, both men and women. If you are new to hockey
                    or roller hockey, this would be a great division to try. This division is also a great division for fathers
                    to play with their sons and/or daughters.</p>
            </blockquote>
        </div>
    </div>
    <div class="card">
        <div class="card-header">What equipment is required?</div>
        <div class="card-block">
            <blockquote class="card-blockquote">
                <p>The only difference from ice hockey is the roller blades. Some of the more experienced players have switched
                    over to a girdle and roller hockey pant in place of the standard hockey pant.</p>
            </blockquote>
        </div>
    </div>
    <div class="card">
        <div class="card-header">Can I sign-up as an individual?</div>
        <div class="card-block">
            <blockquote class="card-blockquote">
                <p>Absolutely. East End Saints prides itself on competitive balance. Players are moved every season to ensure
                    league parody.</p>
            </blockquote>
        </div>
    </div>
    <div class="card">
        <div class="card-header">Can I request to play with my friends?</div>
        <div class="card-block">
            <blockquote class="card-blockquote">
                <p>Yes. However, depending on the caliber of the players, no guarantees can be made that they will remain on
                    the same team throughout the whole season. Competitive balance supersedes player requests.</p>
            </blockquote>
        </div>
    </div>
    <div class="card">
        <div class="card-header">Can I enter a full team?</div>
        <div class="card-block">
            <blockquote class="card-blockquote">
                <p>Yes. However, if the caliber of the team is not in line with the other teams in the division, players will
                    need to be added or removed to ensure each team is competitive. There is no guarantee that a full team
                    that is entered will remain together for the whole season.</p>
            </blockquote>
        </div>
    </div>
    <div class="card">
        <div class="card-header">Do goalies have to wear roller blades?</div>
        <div class="card-block">
            <blockquote class="card-blockquote">
                <p>No. Goalies can either wear roller blades or shoes.</p>
            </blockquote>
        </div>
    </div>
</div>