<div class="container-fluid">
    <h1>Partners and Sponsors</h1>
    <div class="card-columns">
        <div class="card">
            <img class="card-img-top" src="../../assets/images/corstar.jpg">
            <div class="card-block">
                <h4 class="card-title">Corstar</h4>
                <p class="card-text">Check them out at <a href="http://www.corstar.ca">www.costar.ca</a>!</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="../../assets/images/coasttocoast.png">
            <div class="card-block">
                <h4 class="card-title">Coast to Coast Hockey shop</h4>
                <p class="card-text">Check them out at <a href="http://www.coasthockeyshop.com">www.coasthockeyshop.com</a>!</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="../../assets/images/chrishandymanservices.png">
            <div class="card-block" style="background:white;">
                <h4 class="card-title">Chris' Handyman Services</h4>
                <p class="card-text">Visit on <a href="https://www.facebook.com/chrishandyservice/">Facebook</a>!</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="../../assets/images/rightathome.png">
            <div class="card-block" style="background:white;">
                <h4 class="card-title">Right At Home - James Carr</h4>
                <p class="card-text">Check them out at <a href="https://www.rightathomerealty.com/">www.rightathomerealty.com</a>!</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="../../assets/images/roofchek.jpg">
            <div class="card-block" style="background:white;">
                <h4 class="card-title">RoofChek</h4>
                <p class="card-text">Check them out at <a href="http://www.roofchek.net/">www.roofchek.net</a>!</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="../../assets/images/chevy.jpg">
            <div class="card-block" style="background:white;">
                <h4 class="card-title">Lisa Debosky Chevrolet/Cadillac</h4>
                <p class="card-text">Visit on <a href="https://www.instagram.com/drivewithlisa/">Instagram</a>!</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="../../assets/images/blackbear.png">
            <div class="card-block" style="background:white;">
                <h4 class="card-title">The Black Bear</h4>
                <p class="card-text">Check them out at <a href="http://theblackbearpubandgrill.com">www.theblackbearpubandgrill.com</a>!</p>
            </div>
        </div>
    </div>
</div>