<h3>Schedule {{id}}</h3>

<form>
    <table class="table">
        <thead></thead>
        <tbody></tbody>
        <tfoot>
            <tr>
                <td>
                    <input class="form-control" type="date">
                </td>
                <td>
                    <select class="form-control">
                        <option selected disabled value="">Time</option>
                        <option>7:00</option>
                        <option>8:00</option>
                        <option>9:00</option>
                    </select>
                </td>
                <td>
                    <select class="form-control">
                        <option selected disabled value="">Team 1</option>
                        <option *ngFor="let team of teams" value="{{team.id}}">{{team.name}}</option>
                    </select>
                </td>
                <td>vs</td>
                <td>
                    <select class="form-control">
                        <option selected disabled value="">Team 1</option>
                        <option *ngFor="let team of teams" value="{{team.id}}">{{team.name}}</option>
                    </select>
                </td>
                <td>
                    <button class="btn btn-primary" type="submit">Add</button>
                </td>   
            </tr>
        </tfoot>
    </table>
</form>