<h2>Season Management</h2>
<hr />
<div class="row">
    <div class="col-6">
        <h3>Add Season</h3>
        <form class="form" style="margin-bottom:20px;">
            <div class="form-group">
                <label class="control-label" for="name">Season Name</label>
                <input class="form-control" type="text">
            </div>
            <div class="form-group">
                <label class="control-label" for="division">Division</label>
                <select class="form-control">
                    <option selected disabled value="">Select a Division...</option>
                    <option *ngFor="let division of divisions" value="{{ division.id }}">{{ division.name }}</option>
                </select>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-6">
                        <label class="control-label" for="start">Start</label>
                        <input class="form-control" type="text">
                    </div>
                    <div class="col-6">
                        <label class="control-label" for="end">End</label>
                        <input class="form-control" type="text">
                    </div>
                </div>
            </div>
            <button class="btn btn-primary" type="Submit">Add Season</button>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <h3>Active Seasons</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Division</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let season of activeSeasons">
                    <td>{{ season.name }}</td>
                    <td>{{ season.division }}</td>
                    <td>{{ season.start }}</td>
                    <td>{{ season.end }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-6">
        <h3>Season History</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Division</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let season of seasonHistory">
                    <td>{{ season.name }}</td>
                    <td>{{ season.division }}</td>
                    <td>{{ season.start }}</td>
                    <td>{{ season.end }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>