@media (max-width:768px) {
    .brand {
        text-align:center;
    }

    .header_nav--small .brand {
        text-align:left;
    }
}

.header_nav--big img {
    height: 100px;
    transition: .2s;
}

.header_nav--small img {
    height:40px;
    transition: .2s;
}

.navbar {
    background:#222;
}

/*
.header_nav--big .slideout { 
    position: fixed;
}

.slideout {
    top:-56px;
}

.slideout img {
    height:40px;
}

.header_nav--big {
    position: relative;
}

.header_nav--big img {
    height:100px;
}

.navbar {
    background:#222222;
}

.header_nav--small {
    transform: translateY(56px);
    transition: .4s ease-in;
}*/