<h2>Division Management</h2>
<hr />
<div class="row">
  <div class="col-sm-6">
    <h3>Add Division</h3>
    <form [formGroup]="form" class="form" (ngSubmit)="submitForm()">
      <div class="form-group" [ngClass]="{'has-danger':!form.controls.name.valid  && form.controls.name.touched}">
        <label class="form-control-label" for="name">Division Name*</label>
        <input formControlName="name" name="name" class="form-control" type="text" required>
        <div *ngIf="!form.controls.name.valid && form.controls.name.touched" class="alert alert-danger">A division name is required</div>
      </div>
      <button class="btn btn-primary" [disabled]="!form.valid" type="Submit">Add Division</button>
    </form>
  </div>

  <div class="col-sm-6">
    <ees-admin-divisions-list [divisions]="divisions"></ees-admin-divisions-list>
  </div>
</div>